// The ui-variables file is provided by base themes provided by Pulsar.
//
// See https://github.com/pulsar-edit/pulsar/blob/master/static/variables/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

@soundbrowser-icon-font: 'Octicons Regular';

atom-text-editor.editor .line {
  transition:  background-color .8s ease-out;
  -webkit-transition: background-color .8s ease-out;

  &.line-error {
    background-color: fadeout(@background-color-error, 95%);
    border: 1px solid fadeout(@background-color-error, 50%);
  }

  &.line-highlight {
    background-color: @background-color-highlight;
  }

  &.eval-flash {
    color: @text-color-selected;
    background-color: @background-color-selected;
  }

  &.eval-success {
    color: @text-color-success;
    background-color: fadeout(@background-color-success, 50%);
  }

  &.eval-error,
  &.eval-syntax-error {
    color: @text-color-error;
    background-color: @background-color-error;
  }
}

atom-pane div.tidalcycles.console {
  &.hidden{
    display: none;
  }
  padding: 3px 10px;
  overflow: scroll;
  pre {
    font-family: Consolas, monospace;
    font-size: 14px;
    white-space: pre-wrap;
    word-break: keep-all;
  }
  .error{
    color: @text-color-error;
  }
}

.atom-sound-browser {
  padding-left: 8px;
  padding-top: 5px;

  ul {
    padding-inline-start: 20px;
  }

  li {
    list-style-type: none;
    padding-top: 3px;
    padding-bottom: 3px;

    span.icon {
      margin-left: 2px;

      &-speaker:before {
        font-family: @soundbrowser-icon-font;
        content: '\f077';
        position: absolute;
        right: 0;
      }
    }
  }

  li:hover {
    background-color: #292829;
  }

  li.icon {

    &-open:before {
      font-family: @soundbrowser-icon-font;
      content: '\f0A3';
    }

    &-close:before {
      font-family: @soundbrowser-icon-font;
      content: '\f078';
      margin-right: 7px;
    }
  }

}

.atom-remote-control {
  padding-left: 8px;
  padding-top: 5px;
}

.flex-container {
      display: flex;
      flex-wrap: wrap;
      max-width: 100%;
      margin: 20px;
}

.flex-item {
  box-sizing: border-box;
  flex: 1 0 calc(25% - 20px);
  margin: 10px;
  background-color: #2b2b2b !important;
  color: #fff;
  text-align: center;
  padding: 20px;
  border: 5px solid #00ff89;
  font-weight: bold;
}

.flex-item-disabled {
  opacity: 0.4;
}

.tidalcycles-remote-control-headline {
  font-family: 'BenguiatStd-Medium';
  font-size: 46px;
  text-align: center;
  margin: 0 auto;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #ffffff, -1px 1px 0 #fff, 1px 1px 0 #fff !important;
  color: black;
}

@media (max-width: 768px) {
  .flex-item {
    flex: 1 0 calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .flex-item {
    flex: 1 0 calc(100% - 20px);
  }
}
